.statistics {
  background: #ffffff;
}

.title {
  text-align: center;
  text-transform: uppercase;
}

.stat_list {
  background-color: #0000ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

.item {
  color: #ffffff;
}

/* .label {
  color: #ffffff;
} */

.percentage {
  color: #ffffff;
}
